@import "tailwindcss";

@font-face {
    font-family: 'opensans';
    src: url('./assets/opensans.ttf');
}
@font-face {
    font-family: 'nunito';
    src: url('./assets/nunito.ttf');
}
@font-face {
    font-family: 'space';
    src: url('./assets/space.ttf');
}

body {
    margin: 0;
    background: #020B0C;
    padding: 0;
    box-sizing: border-box;
}