@import "tailwindcss";

@font-face {
    font-family: 'opensans';
    src: url('./assets/opensans.ttf');
}
@font-face {
    font-family: 'nunito';
    src: url('./assets/nunito.ttf');
}
@font-face {
    font-family: 'space';
    src: url('./assets/space.ttf');
}

body {
    margin: 0;
    background: #020B0C;
    padding: 0;
    box-sizing: border-box;
}


.mask-reveal {
    mask-image: linear-gradient(to right, transparent 0%, black 0%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 0%);
}
.mask-hidden {
    mask-image: linear-gradient(to right, transparent 0%, black 1000%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 1000%);
}